:root {
    --primaryColor-: #F8BA00;
}


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {  
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-family: 'Ubuntu', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* GLOBAL */
a {
    text-decoration: none;
    color: grey;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

i {
    margin: 0;
    padding: 0;
}


/* HEADER */
header {
    background:
        url(../img/bg-tsp.png),
        url(../img/bg-6.jpg) fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Comfortaa', monospace;
}

/* Showcase intro */
.showcase {
    height: 100vh;
    text-shadow: 2px 4px 6px #000;
    color: var(--primaryColor-);
    font-size: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Animação Cursor Keyboard TypeWriter */
.kb-cursor::after {
    content: " ";
    margin: 5px;
    border-left: 4px solid var(--primaryColor-);
    border-radius: 15%;
    box-shadow: 2px 4px 6px #000;
}


.kb-cursor-animation::after {
    content: " ";
    margin: 5px;
    border-left: 4px solid var(--primaryColor-);
    border-radius: 15%;
    box-shadow: 2px 4px 6px #000;
    animation: type-cursor 1s step-start infinite;
}

@keyframes type-cursor {
   0% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 1;}
}

.container-b {
    margin-top: 25vh;
}

.fa-angle-down {
    color: lightblue;
}

.fa-angle-down:hover {
    transition: 0.5s;
    transform: scale(1.3);
    color: #fff;
}

/* Main area */
main {
    padding-top: 10vh;
    background: #d84242;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
}

main > h2 {
    font-size: 38px;
    border-bottom: 5px solid #fafafa;
}

/* PROJETOS */
.projetos {
    padding: 10vh;
    margin: 0 10vh;
    display: flex;
    text-align: justify;
    border-bottom: 1px solid #fff;
}
.projetos h3{
    text-align: center;
}
.projetos img {
    border-radius: 10px;
    box-shadow: -1px 2px 4px rgb(83, 83, 83);
}

.projetos img:hover {
    box-shadow: -2px 4px 12px rgb(30, 30, 30);
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.05);
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

/* box*/
.box {
    width: 50%;
    padding: 0 50px;
}

.box-img {
    max-width: 50%;
}

.border-none {
    border: none;
}

.soon {
    padding: 100px;
}

/* Section sobre */
#sobre {
    width: 100%;
    padding: 10vh;
    background-color: rgb(97, 97, 97);
    color: #fff;
    text-shadow: 3px 3px 4px #000;
    font-weight: 300;
    overflow-x: hidden;
    background-image: url('../img/bg-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.about {
    display: inline-block;
    width: 1000px;
    padding-top: 50px;
    text-align: justify;
}

.about h2 {
    padding-left: 120px;
    font-size: 48px;
}

.content {
    width: 1000px;
    margin: auto;
    font-size: 20px;
    position: relative;
    height: 300px;
}

.content p {
    text-align: justify;
    padding-top: 40px;
    width: 45%;
    display: inline-block;
}

.p-left {
    float: left;
    padding-left: 120px;
}

.p-right {
    float: right;
    padding-right: 120px;
}

.content::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 8%;
    top: 0;
    width: 12%;
    border-bottom: 8px solid rgb(238, 202, 0);
    border-left: 8px solid rgb(238, 202, 0);
    border-top: 8px solid rgb(238, 202, 0);
    border-radius: 8px;
}

.content::after {
    content: '';
    position: absolute;
    bottom: 0%;
    right: 8%;
    top: 0;
    width: 12%;
    border-bottom: 8px solid rgb(238, 202, 0);
    border-right: 8px solid rgb(238, 202, 0);
    border-top: 8px solid rgb(238, 202, 0);
    border-radius: 8px;
}

/* FOOTER*/
footer {
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    padding: 30px 20px 20px 20px;
    font-size: 18px;
}

.flist {
    padding-bottom: 80px;
}

footer li {
    padding: 0 30px;
    display: inline;
}

.smart {
    display: none;
}


.fa-angle-up:hover {
    color: #fff;
    transition: 0.5s;
    transform: scale(1.2);
}

.fa-envelope:hover {
    color: white;
    transition: 0.5s;
    transform: scale(1.2);
}

.fa-facebook-square:hover {
    color: white;
    transition: 0.5s;
    transform: scale(1.2);
}

.fa-linkedin:hover {
    color: white;
    transition: 0.5s;
    transform: scale(1.2);
}


.fa-github-square:hover {
    color: white;
    transition: 0.5s;
    transform: scale(1.2);
}
