html {
    font-size: 16px;
}
:root {
    --primaryColor-: #F8BA00;
}


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {  
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* GLOBAL */
a {
    text-decoration: none;
    color: grey;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

i {
    margin: 0;
    padding: 0;
    color: lightblue;
}

/* Important */

/* HEADER */
header {
    height: 100vh;
    font-family: 'Manjari', monospace;
    background:
        url(../img/bg-tsp.png),
        url(../img/bg-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/* Showcase intro */
.showcase {
    text-shadow: 2px 4px 6px #000;
    color: var(--primaryColor-);
    font-size: 1.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
}

.showcase > p {
    padding-left: .7em;
}

/* Animação Cursor Keyboard TypeWriter */
.kb-cursor::after {
    content: " ";
    margin: .2em;
    border-left: 4px solid var(--primaryColor-);
    border-radius: 10%;
    box-shadow: 2px 4px 6px #000;
}


.kb-cursor-animation::after {
    content: " ";
    margin: .2em;
    border-left: 4px solid var(--primaryColor-);
    border-radius: 10%;
    box-shadow: 2px 4px 6px #000;
    animation: type-cursor 1s step-start infinite;
}

.container-b {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 11;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
}

.fa-angle-down {
    color: lightblue;
}

/* Main area */
main {
    padding-top: 3.75em;
    background: linear-gradient(95deg, #d84242, #ED5929, rgb(247, 116, 29));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

main > h2 {
    font-size: 2.3rem;
    border-bottom: 5px solid #fafafa;
}

/* PROJETOS */

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-bottom: 3px dashed #fff;
    padding: 1em;
}

.projetos h3{
    padding: 1em 0;
    text-align: center;
    font-size: 1.5rem;
}
.projetos img {
    border-radius: 10px;
    box-shadow: -1px 2px 4px rgb(83, 83, 83);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* box*/
.box {
    padding: 1em 0;
}

.box-img {
    height: 280px;
}

.border-none {
    border: none;
}

/* Section sobre */
#sobre {
    background-color: rgb(97, 97, 97);
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    overflow-x: hidden;
    background-image: url('../img/bg-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 1.5em;
    margin-top: 2em;
}

#sobre h2 {
    font-size: 2.3rem;
}

.content {
    position: relative;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    text-align: justify;
}

.content p:last-child {
    margin-top: 1em;
}

.content::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 75%;
    top: 0;
    width: 50%;
    height: 50%;
    border-left: 6px solid rgb(238, 202, 0);
    border-top: 6px solid rgb(238, 202, 0);
    border-radius: 5px;
}

.content::after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;

    border-bottom: 6px solid rgb(238, 202, 0);
    border-right: 6px solid rgb(238, 202, 0);

    border-radius: 5px;
}

/* FOOTER*/
footer {
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.footer-list {
    padding: 1.25em;
}
.footer-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}

footer p {
    padding: 3em;
}

/* FOOTER ICONS */
.top-btn {
    padding: 1.5em;
    margin: auto;
}

.fa-angle-up {
    color: lightblue;
}

/* Contact icons */
.fa-envelope {
    color: lightblue;
}

.fa-facebook-square {
    color: lightblue;
}

.fa-linkedin {
    color: lightblue;
}

.fa-github-square {
    color: lightblue;
}